<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png?v=2bQaajxkPw">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png?v=2bQaajxkPw">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png?v=2bQaajxkPw">
<link rel="manifest" href="{{ site.baseurl }}/site.webmanifest?v=2bQaajxkPw">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico?v=2bQaajxkPw">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">
